# 갭마인더 데이터 집합 불러오기

In [3]:
import pandas

In [4]:
df = pandas.read_csv('../data/gapminder.tsv', sep='\t')

In [5]:
impoart pandas as pd

SyntaxError: invalid syntax (<ipython-input-5-13d7f8fff2f8>, line 1)

In [6]:
import pandas as pd  # pandas를 pd로 줄여 사용하겠다

In [7]:
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [8]:
print(df)

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
1     Afghanistan      Asia  1957   30.332   9240934   820.853030
2     Afghanistan      Asia  1962   31.997  10267083   853.100710
3     Afghanistan      Asia  1967   34.020  11537966   836.197138
4     Afghanistan      Asia  1972   36.088  13079460   739.981106
5     Afghanistan      Asia  1977   38.438  14880372   786.113360
6     Afghanistan      Asia  1982   39.854  12881816   978.011439
7     Afghanistan      Asia  1987   40.822  13867957   852.395945
8     Afghanistan      Asia  1992   41.674  16317921   649.341395
9     Afghanistan      Asia  1997   41.763  22227415   635.341351
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
11    Afghanistan      Asia  2007   43.828  31889923   974.580338
12        Albania    Europe  1952   55.230   1282697  1601.056136
13        Albania    Europe  1957   59.280   1476505  1942.284244
14        Albania    Europe  1962   64.820   1728137  2312.888958
15        Albania    Europe  1967   66.220   1984060  2760.196931
16        Albania    Europe  1972   67.690   2263554  3313.422188
17        Albania    Europe  1977   68.930   2509048  3533.003910
18        Albania    Europe  1982   70.420   2780097  3630.880722
19        Albania    Europe  1987   72.000   3075321  3738.932735
20        Albania    Europe  1992   71.581   3326498  2497.437901
21        Albania    Europe  1997   72.950   3428038  3193.054604
22        Albania    Europe  2002   75.651   3508512  4604.211737
23        Albania    Europe  2007   76.423   3600523  5937.029526
24        Algeria    Africa  1952   43.077   9279525  2449.008185
25        Algeria    Africa  1957   45.685  10270856  3013.976023
26        Algeria    Africa  1962   48.303  11000948  2550.816880
27        Algeria    Africa  1967   51.407  12760499  3246.991771
28        Algeria    Africa  1972   54.518  14760787  4182.663766
29        Algeria    Africa  1977   58.014  17152804  4910.416756
...           ...       ...   ...      ...       ...          ...
1674  Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906
1680       Zambia    Africa  1952   42.038   2672000  1147.388831
1681       Zambia    Africa  1957   44.077   3016000  1311.956766
1682       Zambia    Africa  1962   46.023   3421000  1452.725766
1683       Zambia    Africa  1967   47.768   3900000  1777.077318
1684       Zambia    Africa  1972   50.107   4506497  1773.498265
1685       Zambia    Africa  1977   51.386   5216550  1588.688299
1686       Zambia    Africa  1982   51.821   6100407  1408.678565
1687       Zambia    Africa  1987   50.821   7272406  1213.315116
1688       Zambia    Africa  1992   46.100   8381163  1210.884633
1689       Zambia    Africa  1997   40.238   9417789  1071.353818
1690       Zambia    Africa  2002   39.193  10595811  1071.613938
1691       Zambia    Africa  2007   42.384  11746035  1271.211593
1692     Zimbabwe    Africa  1952   48.451   3080907   406.884115
1693     Zimbabwe    Africa  1957   50.469   3646340   518.764268
1694     Zimbabwe    Africa  1962   52.358   4277736   527.272182
1695     Zimbabwe    Africa  1967   53.995   4995432   569.795071
1696     Zimbabwe    Africa  1972   55.635   5861135   799.362176
1697     Zimbabwe    Africa  1977   57.674   6642107   685.587682
1698     Zimbabwe    Africa  1982   60.363   7636524   788.855041
1699     Zimbabwe    Africa  1987   62.351   9216418   706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340   693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948   792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563   672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143   469.709298

[1704 rows x 6 columns]

# 불러온 데이터 집합 살펴보기

In [9]:
print(df.head())  # head메서드는 method이므로 .head()
                  # head메서드: 데이터프레임에서 가장 앞에있는 5개의 행 출력

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [10]:
print(type(df))  # type메서드는 파이썬 내장 메서드

<class 'pandas.core.frame.DataFrame'>

In [11]:
print(df.shape)  # shape는 메서드가 아닌 속성값

(1704, 6)

In [13]:
print(df.columns)  # 열이름 확인
                   # 속성 값

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [14]:
print(df.dtypes)  #값의 자료형 확인

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [15]:
print(df.info())  #값의 자료형 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

# 열 단위로 데이터 추출하기

In [16]:
country_df = df['country']

In [17]:
print(type(country_df))

<class 'pandas.core.series.Series'>

In [18]:
print(country_df.head())  # head는 메소드 -> countyr_df.head()
                          # 시리즈도 .head() 메서드 가지고있음

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [20]:
print(country_df.tail())  # tail는 메소드 -> countyr_df.tail()
                          # 시리즈도 .tail() 메서드 가지고있음

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [23]:
subset = df[['country', 'continent', 'year']]  # 3개 열(시리즈)가 데이터프레임으로 나옴 
print(type(subset))

<class 'pandas.core.frame.DataFrame'>

In [24]:
print(subset.head())  # country, continent, year열이 데이터 프레임으로 나옴

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [25]:
print(subset.tail())

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

# loc 속성으로 행 단위 데이터 추출하기

In [26]:
print(df.head())  # 맨 왼쪽의 번호: index -> loc 사용
                  # 인덱스는 보통 0부터 시작하지만, 행 데이터 추가, 삭제 시 변할 수 있음
                  # 인덱스는 숫자가 아니라 문자열도 사용 가능 -> ex. first, second, third

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [27]:
# [행번호]
# 데이터의 순서를 따라감
# 정수만으로 데이터를 조회하거나 추출할 수 있음
# 실제 데이터프레임에서는 확인할 수 없다
# 파이썬: 리스트와 같은 자료형에 저장된 데이터의 순서 = 파이썬에서 인덱스

In [28]:
print(df.loc[0])  # 가장 왼쪽에 나타나는 번호가 0인 경우

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [29]:
print(df.loc[99])  # 가장 왼쪽에 나타나는 번호가 99인 경우

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [30]:
print(df.loc[-2])  # 인덱스에 없는 값을 사용하면 오류 발생

KeyError: -2

In [32]:
number_of_rows = df.shape[0]  # 행의 크기
last_row_index = number_of_rows - 1  # 인덱스=행 크기 - 1
print(df.loc[last_row_index])  # 이때 꼭 loc적어줘야함
                               # 그냥 df[last_row_index]라고 적으면 error

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [33]:
print(df.tail(n=1))  # 마지막 행의 데이터 추출 가능
                     # n=2라면 마지막 2개 행의 데이터 추출 가능!

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [34]:
print(df.loc[[0, 9, 99, 999]])  # loc 속성에 리스트로 전달
                                # 언제나 원하는 데이터를 한번에 추출하려면 *리스트*에 원하는 인덱스 전달

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
9    Afghanistan      Asia  1997   41.763  22227415   635.341351
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

# tail과 loc는 조금 달라요!

In [37]:
subset_tail = df.tail(n=1)
print(subset_tail)  # 한 행을 가로로 전부 보여줌
print(type(subset_tail))  # 데이터 프레임으로 보여줌(여러 열(시리즈)이 모여 하나의 데이터 프레임이 됨)

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298
<class 'pandas.core.frame.DataFrame'>

In [39]:
subset_loc = df.loc[0]
print(subset_loc)  # 한 행의 정보를 열로 보여줌
print(type(subset_loc))  # 시리즈로 보여줌(하나의 열=시리즈)

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object
<class 'pandas.core.series.Series'>

In [41]:
subset_loc_many = df.loc[[0, 1, 2]]  # 여러 행을 보여줌
print(subset_loc_many)
print(type(subset_loc_many))  # 여러행을 보여주기 때문에 열로 보여주지 못함-> 데이터 프레임

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
<class 'pandas.core.frame.DataFrame'>

# iloc 속성으로 행 단위 데이터 추출하기

In [42]:
print(df.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

In [43]:
print(df.iloc[99])  # 현재는 인덱스와 행 번호가 동일하여 동일한 결과값 출력

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [44]:
print(df.iloc[-1])  # iloc속성은 -1을 사용하여 마지막 행 데이터를 추출할 수 있음

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [45]:
print(df.iloc[1710])  # 데이터프레임에 존재하지 않는 행번호를 입력하면 오류 발생

IndexError: single positional indexer is out-of-bounds

In [47]:
print(df.iloc[[0, 9, 99, 999]])  # 여러 데이터 한번에 추출 시 언제나 행번호를 *리스트*에 담기!!!

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
9    Afghanistan      Asia  1997   41.763  22227415   635.341351
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

# 파이썬 슬라이싱 구문을 조합하여 원하는 데이터 추출하기

In [48]:
# df.loc[[행], [열]]
# 열 지정값은 반드시 형식에 맞게 전달해야함 -> 열 리스트 = 문자열 리스트
# why? 한 행에서 어떤 열을 가지고 올 것인지! -> 열의 이름은 문자열!

subset = df.loc[:, ['year', 'pop']]  # 모든 행(:)의 데이터에 대해 year, pop열 추출하는 방법
print(subset.head())

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [52]:
# df.iloc[[행], [열]]
# 열 지정값은 반드시 형식에 맞게 전달해야함 -> 열 리스트 = 정수 리스트
# why? ??????????????????????????

subset = df.iloc[:, [2, 4, -1]]
print(subset.head())

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

# iloc 속성과 range 메서드로 원하는 데이터 추출하기

In [54]:
small_range = list(range(5))
print(small_range)  # [0, 1, 2, 3, 4]

print(type(small_range))  # list

subset = df.iloc[:, small_range]
subset = df.iloc[:, [0, 1, 2, 3, 4]]  # 무조건 list로 입력
print(subset.head())

[0, 1, 2, 3, 4]
<class 'list'>
       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

In [56]:
small_range = list(range(0, 6, 2))
subset = df.iloc[:, small_range]
print(subset)

          country  year       pop
0     Afghanistan  1952   8425333
1     Afghanistan  1957   9240934
2     Afghanistan  1962  10267083
3     Afghanistan  1967  11537966
4     Afghanistan  1972  13079460
5     Afghanistan  1977  14880372
6     Afghanistan  1982  12881816
7     Afghanistan  1987  13867957
8     Afghanistan  1992  16317921
9     Afghanistan  1997  22227415
10    Afghanistan  2002  25268405
11    Afghanistan  2007  31889923
12        Albania  1952   1282697
13        Albania  1957   1476505
14        Albania  1962   1728137
15        Albania  1967   1984060
16        Albania  1972   2263554
17        Albania  1977   2509048
18        Albania  1982   2780097
19        Albania  1987   3075321
20        Albania  1992   3326498
21        Albania  1997   3428038
22        Albania  2002   3508512
23        Albania  2007   3600523
24        Algeria  1952   9279525
25        Algeria  1957  10270856
26        Algeria  1962  11000948
27        Algeria  1967  12760499
28        Algeria  1972  14760787
29        Algeria  1977  17152804
...           ...   ...       ...
1674  Yemen, Rep.  1982   9657618
1675  Yemen, Rep.  1987  11219340
1676  Yemen, Rep.  1992  13367997
1677  Yemen, Rep.  1997  15826497
1678  Yemen, Rep.  2002  18701257
1679  Yemen, Rep.  2007  22211743
1680       Zambia  1952   2672000
1681       Zambia  1957   3016000
1682       Zambia  1962   3421000
1683       Zambia  1967   3900000
1684       Zambia  1972   4506497
1685       Zambia  1977   5216550
1686       Zambia  1982   6100407
1687       Zambia  1987   7272406
1688       Zambia  1992   8381163
1689       Zambia  1997   9417789
1690       Zambia  2002  10595811
1691       Zambia  2007  11746035
1692     Zimbabwe  1952   3080907
1693     Zimbabwe  1957   3646340
1694     Zimbabwe  1962   4277736
1695     Zimbabwe  1967   4995432
1696     Zimbabwe  1972   5861135
1697     Zimbabwe  1977   6642107
1698     Zimbabwe  1982   7636524
1699     Zimbabwe  1987   9216418
1700     Zimbabwe  1992  10704340
1701     Zimbabwe  1997  11404948
1702     Zimbabwe  2002  11926563
1703     Zimbabwe  2007  12311143

[1704 rows x 3 columns]

In [57]:
subset = df.iloc[:, :3]
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [58]:
subset = df.iloc[:, range(3)]
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

# 열 지정값에 파이썬 슬라이싱을 사용하여 원하는 데이터 추출하기

In [60]:
subset = df.iloc[:, range(3)]
print(subset.head())

In [ ]:
subset = df.iloc[:, 0:6:2]
print(subset.head())

In [61]:
subset = df.iloc[:, :3]
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [62]:
subset = df.loc[:, :3]
print(subset.head())

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [3] of <class 'int'>

# loc, iloc 자유자재로 사용하기

In [63]:
print(df.iloc[[0, 99, 999], [0, 3, 5]])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [64]:
print(df.loc[[0, 99, 999], ['country', 'lifeExp', 'gdpPercap']])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [65]:
print(df.loc[10:13, ['country', 'lifeExp', 'gdpPercap']])  # 슬라이싱은 리스트안에 넣는 것이 아님
                                                           # 그냥 바로 10:13

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

# 그룹화한 데이터의 평균 구하기

In [66]:
print(df.head(n=10))

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [67]:
print(df.groupby('year')['lifeExp'].mean())  # year로 그룹을 나눈 것에 따른 lifeExp의 평균

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [70]:
grouped_year_df = df.groupby('year')   # DataFrameGroupBy
print(type(grouped_year_df))           # why? year기준으로 모든 열 추출

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [71]:
print(grouped_year_df)  # <pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000237793149E8>
                        # 0x00000237793149E8: 메모리 주소 (실행환경에 따라 다르게 출력)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000237793149E8>

In [72]:
grouped_year_df_lifeExp = grouped_year_df['lifeExp']  # SeriesGroupBy
print(type(grouped_year_df_lifeExp))                  # why? year를 기준으로 모든 열을 추출한 것중
                                                      #      lifeExp 열만 뽑아낸다

<class 'pandas.core.groupby.generic.SeriesGroupBy'>

In [73]:
mean_lifeExp_by_year = grouped_year_df_lifeExp.mean()  # mean은 메서드
print(mean_lifeExp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [ ]:
multi_group_var = df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean()
print(multi_group_var)

# 그룹화한 데이터의 개수 세어보기

# 그래프 만들기