# 시리즈 만들기

In [1]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [2]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [3]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [8]:
scientists = pd.DataFrame({
    'Name': ['Rosaline', 'William'],
    'Occupation': ['Chemist', 'Scientician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]}
)
print(scientists)  # dictionary로 이루어졌지만, 이는 순서를 보장하지는 않음
                   # 그래서 columns를 지정해주면, data에 있는 열 이름은 필요가 없어짐

       Name   Occupation        Born        Died  Age
0  Rosaline      Chemist  1920-07-25  1958-04-16   37
1   William  Scientician  1876-06-13  1937-10-16   61

In [9]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Scientician'],
          'Born': ['1920-07-25', '1876-06-13'],
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline', 'William'],
    columns=['Occupation', 'Born', 'Age', 'Died']
)
print(scientists)  # dictionary로 이루어졌지만, 이는 순서를 보장하지는 않음
                   # 그래서 columns를 지정해주면, data에 있는 열 이름은 필요가 없어짐

           Occupation        Born  Age        Died
Rosaline      Chemist  1920-07-25   37  1958-04-16
William   Scientician  1876-06-13   61  1937-10-16

In [ ]:
# 순서가 보장된 딕셔너리 전달
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline', 'William']),
    ('Occupation', ['Chemist', 'Scientician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37, 61])
])

)
print(scientists) 

# OrderedDict 메서드 작성 -> OrderedDict()
# 그 안에 여러개의 정보가 들어가므로 list 필요!
# 열마다 작성 -> ('Name', ['Rosaline', 'William']),,,

# 데이터프레임에서 시리즈 선택하기

In [13]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Scientician'],
          'Born': ['1920-07-25', '1876-06-13'],
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline', 'William'],
    columns=['Occupation', 'Born', 'Died', 'Age']
)
print(scientists)

           Occupation        Born        Died  Age
Rosaline      Chemist  1920-07-25  1958-04-16   37
William   Scientician  1876-06-13  1937-10-16   61

In [14]:
first_row = scientists.loc['William']
print(type(first_row))  # Series

<class 'pandas.core.series.Series'>

In [15]:
print(first_row)  # 이때, Age는 정수(int64)이지만, 시리즈의 자료형인 object라고 보임
                  # Age의 자료형은 무시됨

Occupation    Scientician
Born           1876-06-13
Died           1937-10-16
Age                    61
Name: William, dtype: object

# index, values, keys 사용하기

In [17]:
print(first_row)
print(first_row.index)  # Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

Occupation    Scientician
Born           1876-06-13
Died           1937-10-16
Age                    61
Name: William, dtype: object
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [18]:
print(first_row.values)

['Scientician' '1876-06-13' '1937-10-16' 61]

In [19]:
print(first_row.keys())  # index속성과 동일한 결과값

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [20]:
print(first_row.index[0])  # index속성의 첫번째 값

Occupation

In [21]:
print(first_row.values[1])  # values속성의 두번째 값

1876-06-13

In [22]:
print(first_row.keys()[1])  # keys메서드(=index속성)의 두번째 값

Born

# 시리즈의 mean, min, max, std 메서드 사용하기

In [23]:
ages = scientists['Age']  # Age열 추출
print(ages)

Rosaline    37
William     61
Name: Age, dtype: int64

In [24]:
print(ages.mean())  # mean, max, min, std는 모두 메서드! => ex) .mean()
print(ages.max())
print(ages.min())
print(ages.std())

49.0
61
37
16.97056274847714

# 시리즈와 불린 추출 사용하기

In [25]:
scientists = pd.read_csv('../data/scientists.csv')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [27]:
ages = scientists['Age']
print(ages.max())
print(ages.min())
print(ages.mean())

90
37
59.125

In [28]:
print(ages[ages > ages.mean()])  # 평균 나이보다 나이가 많은 사람의 데이터만 출력

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [30]:
print(ages > ages.mean())  # T / F로 나옴
print(type(ages > ages.mean()))  # type: Series

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
<class 'pandas.core.series.Series'>

# 시리즈와 브로드캐스팅
 - 브로드캐스팅 : 시리즈나 데이터 프레임에 있는 모든 데이터에 대해 한번에 연산하는 것

In [31]:
print(ages + ages)  # 벡터 + 벡터
print(ages * ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [ ]:
print(ages + 100)  # 벡터 + 스칼라
print(ages * 2)

In [32]:
print(pd.Series([1, 100]))  # 시리즈 생성(벡터)

0      1
1    100
dtype: int64

In [33]:
# 길이가 서로 다른 벡터를 연산하면, 인덱스가 일치한 것만 계산하고, 
# 나머지 인덱스는 계산을 할 수 없어 누락값(NaN)으로 처리

print(ages + pd.Series([1, 100]))

# 0     38.0
# 1    161.0
# 2      NaN
# 3      NaN

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [34]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [35]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [36]:
print(ages + rev_ages)  # 인덱스가 같은 것끼리 더하기 때문에 print(ages * 2)와 동일!!

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터프레임과 브로드캐스팅

In [37]:
# Age 열에서 Age열의 평균보다 높은 행만 출력
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [38]:
print(scientists.loc[[True, True, False, True]])
# index가 2인 행 데이터는 bool값이 False라 출력하지 않음

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [40]:
print(scientists * 2)  # 문자열은 길이2배, 정수는 2를 곱한 값

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [41]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [43]:
# 자료형 바꾸기
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')

print(born_datetime)
print(died_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [44]:
# 새로운 열 추가
scientists['born_at'], scientists['died_at'] = (born_datetime, died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_at  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_at
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [46]:
scientists['age_days_dt'] = scientists['died_at'] - scientists['born_at']
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_at  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_at age_days_dt
0 1958-04-16  13779 days
1 1937-10-16  22404 days
2 1910-08-13  32964 days
3 1934-07-04  24345 days
4 1964-04-14  20777 days

In [47]:
scientists['age_days_dt'] = scientists['Died'] - scientists['Born']
print(scientists.head())

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# 시리즈, 데이터프레임의 데이터 섞어보기

# 데이터프레임의 열 삭제하기

# 피클 형식으로 저장하기

# CSV 불러오기