# concat 메서드 사용하기

In [1]:
import pandas as pd

df1 = pd.read_csv('../data/concat_1.csv')
df2 = pd.read_csv('../data/concat_2.csv')
df3 = pd.read_csv('../data/concat_3.csv')

# df1
#     A   B   C   D
# 0  a0  b0  c0  d0
# 1  a1  b1  c1  d1
# 2  a2  b2  c2  d2
# 3  a3  b3  c3  d3

# df2
#     A   B   C   D
# 0  a4  b4  c4  d4
# 1  a5  b5  c5  d5
# 2  a6  b6  c6  d6
# 3  a7  b7  c7  d7

# df3
#      A    B    C    D
# 0   a8   b8   c8   d8
# 1   a9   b9   c9   d9
# 2  a10  b10  c10  d10
# 3  a11  b11  c11  d11

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [3]:
row_concat = pd.concat([df1, df2, df3])
print(row_concat)

#      A    B    C    D
# 0   a0   b0   c0   d0
# 1   a1   b1   c1   d1
# 2   a2   b2   c2   d2
# 3   a3   b3   c3   d3
# 0   a4   b4   c4   d4
# 1   a5   b5   c5   d5
# 2   a6   b6   c6   d6
# 3   a7   b7   c7   d7
# 0   a8   b8   c8   d8
# 1   a9   b9   c9   d9
# 2  a10  b10  c10  d10
# 3  a11  b11  c11  d11

# 데이터 프레임을 연결한 다음에도 열, 인덱스는 그대로 유지

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [6]:
# 데이터 프레임에서 4번째 행을 추출
print(row_concat.iloc[3, ])

# A    a3
# B    b3
# C    c3
# D    d3
# Name: 3, dtype: object

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [7]:
# 데이터프레임에서 index가 3인 행 추출
print(row_concat.loc[3, ])

#      A    B    C    D
# 3   a3   b3   c3   d3
# 3   a7   b7   c7   d7
# 3  a11  b11  c11  d11

     A    B    C    D
3   a3   b3   c3   d3
3   a7   b7   c7   d7
3  a11  b11  c11  d11

# 데이터프레임에 시리즈 연결하기

In [9]:
# 데이터프레임에 시리즈 연결하기

# 시리즈 추가
new_row_series = pd.Series(['n1', 'n2', 'n3', 'n4'])

# 시리즈 연결
print(pd.concat([df1, new_row_series]))
#      A    B    C    D    0
# 0   a0   b0   c0   d0  NaN
# 1   a1   b1   c1   d1  NaN
# 2   a2   b2   c2   d2  NaN
# 3   a3   b3   c3   d3  NaN
# 0  NaN  NaN  NaN  NaN   n1
# 1  NaN  NaN  NaN  NaN   n2
# 2  NaN  NaN  NaN  NaN   n3
# 3  NaN  NaN  NaN  NaN   n4

# 시리즈가 새로운 행이 아닌 새로운 열로 추가됨!!

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

# 행 1개로 구성된 데이터프레임 생성하여 연결하기

In [10]:
# 행 1개로 구성된 데이터프레임 생성
new_row_df = pd.DataFrame([['n1', 'n2', 'n3', 'n4']], columns=['A', 'B', 'C', 'D'])
print(new_row_df)

#     A   B   C   D
# 0  n1  n2  n3  n4

    A   B   C   D
0  n1  n2  n3  n4

In [12]:
# 새로운 데이터프레임과 기존의 데이터프레임 연결
print(pd.concat([df1, new_row_df]))

#     A   B   C   D
# 0  a0  b0  c0  d0
# 1  a1  b1  c1  d1
# 2  a2  b2  c2  d2
# 3  a3  b3  c3  d3
# 0  n1  n2  n3  n4

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [13]:
# append 메서드
print(df1.append(new_row_df))

#     A   B   C   D
# 0  a0  b0  c0  d0
# 1  a1  b1  c1  d1
# 2  a2  b2  c2  d2
# 3  a3  b3  c3  d3
# 0  n1  n2  n3  n4

# concat메서드: 한번에 2개 이상의 데이터프레임을 연결할 수 있음
# append메서드: 한번에 1개 데이터프레임을 연결할 수 있음

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [17]:
# append메서드 + 딕셔너리 사용
data_dict = {'A':'n1', 'B':'n2', 'C':'n3', 'D':'n4'}
print(df1.append(data_dict, ignore_index=True))

# ignore_index=True: 연결 후 데이터프레임의 인덱스를 0부터 다시 지정
#     A   B   C   D
# 0  a0  b0  c0  d0
# 1  a1  b1  c1  d1
# 2  a2  b2  c2  d2
# 3  a3  b3  c3  d3
# 4  n1  n2  n3  n4

# ignore_index=False: ERROR

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  n1  n2  n3  n4

# 다양한 방법으로 데이터 연결하기

In [18]:
# ignore_index인자 사용하기
row_concat_i = pd.concat([df1, df2, df3], ignore_index=True)
print(row_concat_i)

#       A    B    C    D
# 0    a0   b0   c0   d0
# 1    a1   b1   c1   d1
# 2    a2   b2   c2   d2
# 3    a3   b3   c3   d3
# 4    a4   b4   c4   d4
# 5    a5   b5   c5   d5
# 6    a6   b6   c6   d6
# 7    a7   b7   c7   d7
# 8    a8   b8   c8   d8
# 9    a9   b9   c9   d9
# 10  a10  b10  c10  d10
# 11  a11  b11  c11  d11

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [19]:
# 열 방향으로 데이터 연결하기 -> axis=1 사용
col_concat = pd.concat([df1, df2, df3], axis=1)
print(col_concat)

#     A   B   C   D   A   B   C   D    A    B    C    D
# 0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
# 1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
# 2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
# 3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [20]:
# 같은 열 이름이 있는 데이터프레임에서 열 이름으로 데이터를 추출하면, 해당 열 이름의 데이터 모두 추출
print(col_concat['A'])

#     A   A    A
# 0  a0  a4   a8
# 1  a1  a5   a9
# 2  a2  a6  a10
# 3  a3  a7  a11

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [21]:
# 새로운 열 추가
col_concat['new_col_list'] = ['n1', 'n2', 'n3', 'n4']
             # 변수명                 열내용
print(col_concat)  # 열 이름 중복

#     A   B   C   D   A   B   C   D    A    B    C    D new_col_list
# 0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
# 1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
# 2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
# 3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

In [23]:
# 열 이름 중복 안되게 -> ignore_index=True와 axis=1(가로)
print(pd.concat([df1, df2, df3], axis=1, ignore_index=True))

#    0   1   2   3   4   5   6   7    8    9    10   11
# 0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
# 1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
# 2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
# 3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

# 공통 열과 공통 인덱스만 연결하기

In [24]:
# 열의 이름 일부가 서로 다른 데이터 프레임을 연결하면? -> 누락값 뜸

# 열 이름 일부 중복
df1.columns = ['A', 'B', 'C', 'D']
df2.columns = ['E', 'F', 'G', 'H']
df3.columns = ['A', 'C', 'F', 'H']

# 데이터 연결
row_concat = pd.concat([df1, df2, df3])
print(row_concat)

#      A    B    C    D    E    F    G    H
# 0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
# 1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
# 2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
# 3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
# 0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
# 1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
# 2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
# 3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
# 0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
# 1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
# 2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
# 3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

C:\Users\gyyoo\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

In [27]:
# 누락값 없이 데이터 연결 -> 공통열만 골라 연결!
print(pd.concat([df1, df2, df3], join='inner'))

# Empty DataFrame
# Columns: []
# Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]
# why? 세 데이터프레임의 공통인자 없음!

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [28]:
print(pd.concat([df1, df3], ignore_index=False, join='inner'))

# 누락값 없음
#      A    C
# 0   a0   c0
# 1   a1   c1
# 2   a2   c2
# 3   a3   c3
# 0   a8   b8
# 1   a9   b9
# 2  a10  b10
# 3  a11  b11

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

In [29]:
# 데이터프레임을 행 방향으로 연결
df1.index = [0, 1, 2, 3]
df2.index = [4, 5, 6, 7]
df3.index = [0, 2, 5, 7]

print(df1)
#     A   B   C   D
# 0  a0  b0  c0  d0
# 1  a1  b1  c1  d1
# 2  a2  b2  c2  d2
# 3  a3  b3  c3  d3

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [30]:
col_concat = pd.concat([df1, df2, df3], axis=1)
print(col_concat)

#      A    B    C    D    E    F    G    H    A    C    F    H
# 0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
# 1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
# 2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
# 3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
# 4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
# 5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
# 6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
# 7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

     A    B    C    D    E    F    G    H    A    C    F    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

In [32]:
print(pd.concat([df1, df3], axis=1, join='inner'))

    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

In [ ]:
# 외부조인과 내부조인
1. 내부조인: 둘 이상의 데이터프레임에서 조건에 맞는 행을 연결

2. 외부조인: 두 데이터프레임 중 어떤 데이터프레임을 기준으로 할 것인가
     - 왼쪽 외부조인: 연결 시 왼쪽 데이터프레임 모두 포함
     - 오른쪽 외부조인: 연결 시 오른쪽 데이터프레임 모두 포함
     - 완전 외부조인: 연결 시 양쪽 데이터프레임 모두 포함

# merge 메서드 사용하기