# 제곱 함수와 n 제곱 함수 만들기

In [1]:
def my_sq(x):
    return x ** 2

In [3]:
def my_exp(x, n):
    return x ** n

In [4]:
print(my_sq(4))  # 16
print(my_exp(2, 4))  # 16

16
16

# 시리즈와 apply 메서드

In [5]:
import pandas as pd

df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [6]:
print(df['a'] ** 2)

0    100
1    400
2    900
Name: a, dtype: int64

In [7]:
sq = df['a'].apply(my_sq)
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [9]:
ex = df['a'].apply(my_exp, n=3)  # my_exp은 인자가 2개!
print(ex)

0     1000
1     8000
2    27000
Name: a, dtype: int64

# 데이터 프레임과 apply 메서드

In [10]:
df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [11]:
# 1개의 값ㅇ르 전달받아 출력하는 함수
def print_me(x):
    print(x)

In [12]:
# axis=0 / axis=1 작성해야하는 이유: 데이터프레임에 함수를 적용하므로 
#                                    함수를 열 방향으로 적용할지, 행 방향으로 적용할지 정해야함
print(df.apply(print_me, axis=0))  # axis=0: 열

# 0    10
# 1    20
# 2    30
# Name: a, dtype: int64
# 0    20
# 1    30
# 2    40
# Name: b, dtype: int64
# a    None
# b    None
# dtype: object

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [13]:
print(df.apply(print_me, axis=1))  # axis=1: 행

a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64
0    None
1    None
2    None
dtype: object

In [14]:
print(df['a'])
# 0    10
# 1    20
# 2    30
# Name: a, dtype: int64

print(df['b'])
# 0    20
# 1    30
# 2    40
# Name: b, dtype: int64

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

In [15]:
# 3개의 인자를 받아 평균을 계산하는 함수
def avg_3(x, y, z):
    return (x + y + z) / 3

print(df.apply(avg_3))  # ERROR: ("avg_3() missing 2 required positional arguments: 'y' and 'z'", 'occurred at index a')
# avg_3은 열단위의 데이터(df['a'])가 전달되었고, avg_3함수에서 1개의 인자로 인식

TypeError: ("avg_3() missing 2 required positional arguments: 'y' and 'z'", 'occurred at index a')

In [16]:
# avg_3 함수가 열 단위로 데이터를 처리할 수 있도록 개선한 avg_3_apply함수
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

print(df.apply(avg_3_apply))

# a    20.0
# b    30.0
# dtype: float64

a    20.0
b    30.0
dtype: float64

In [17]:
# avg_3_apply 함수는 데이터프레임의 행 갯수가 3이라는 것을 알고 있다는 전제하에서 만든 것
# 보통 for문을 사용함
def avg_3_apply(col):
    sum = 0
    for item in col:
        sum += item
    return sum / df.shape[0]  # 행 갯수로 나눔 -> 열 방향으로 데이터를 처리

print(avg_3_apply(df['a']))  # 20.0

In [23]:
# 행 방향으로 데이터를 처리하는 함수
def avg_2_apply(row):
    sum = 0
    for item in row:
        sum += item
    return sum / df.shape[1]  # 열 갯수로 나눔 -> 행 방향으로 데이터를 처리

print(df.apply(avg_2_apply, axis=1))

# 0    15.0
# 1    25.0
# 2    35.0
# dtype: float64

0    15.0
1    25.0
2    35.0
dtype: float64

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 열 방향

In [24]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
print(titanic)

     survived  pclass     sex   age  sibsp  parch      fare embarked   class  \
0           0       3    male  22.0      1      0    7.2500        S   Third
1           1       1  female  38.0      1      0   71.2833        C   First
2           1       3  female  26.0      0      0    7.9250        S   Third
3           1       1  female  35.0      1      0   53.1000        S   First
4           0       3    male  35.0      0      0    8.0500        S   Third
5           0       3    male   NaN      0      0    8.4583        Q   Third
6           0       1    male  54.0      0      0   51.8625        S   First
7           0       3    male   2.0      3      1   21.0750        S   Third
8           1       3  female  27.0      0      2   11.1333        S   Third
9           1       2  female  14.0      1      0   30.0708        C  Second
10          1       3  female   4.0      1      1   16.7000        S   Third
11          1       1  female  58.0      0      0   26.5500        S   First
12          0       3    male  20.0      0      0    8.0500        S   Third
13          0       3    male  39.0      1      5   31.2750        S   Third
14          0       3  female  14.0      0      0    7.8542        S   Third
15          1       2  female  55.0      0      0   16.0000        S  Second
16          0       3    male   2.0      4      1   29.1250        Q   Third
17          1       2    male   NaN      0      0   13.0000        S  Second
18          0       3  female  31.0      1      0   18.0000        S   Third
19          1       3  female   NaN      0      0    7.2250        C   Third
20          0       2    male  35.0      0      0   26.0000        S  Second
21          1       2    male  34.0      0      0   13.0000        S  Second
22          1       3  female  15.0      0      0    8.0292        Q   Third
23          1       1    male  28.0      0      0   35.5000        S   First
24          0       3  female   8.0      3      1   21.0750        S   Third
25          1       3  female  38.0      1      5   31.3875        S   Third
26          0       3    male   NaN      0      0    7.2250        C   Third
27          0       1    male  19.0      3      2  263.0000        S   First
28          1       3  female   NaN      0      0    7.8792        Q   Third
29          0       3    male   NaN      0      0    7.8958        S   Third
..        ...     ...     ...   ...    ...    ...       ...      ...     ...
861         0       2    male  21.0      1      0   11.5000        S  Second
862         1       1  female  48.0      0      0   25.9292        S   First
863         0       3  female   NaN      8      2   69.5500        S   Third
864         0       2    male  24.0      0      0   13.0000        S  Second
865         1       2  female  42.0      0      0   13.0000        S  Second
866         1       2  female  27.0      1      0   13.8583        C  Second
867         0       1    male  31.0      0      0   50.4958        S   First
868         0       3    male   NaN      0      0    9.5000        S   Third
869         1       3    male   4.0      1      1   11.1333        S   Third
870         0       3    male  26.0      0      0    7.8958        S   Third
871         1       1  female  47.0      1      1   52.5542        S   First
872         0       1    male  33.0      0      0    5.0000        S   First
873         0       3    male  47.0      0      0    9.0000        S   Third
874         1       2  female  28.0      1      0   24.0000        C  Second
875         1       3  female  15.0      0      0    7.2250        C   Third
876         0       3    male  20.0      0      0    9.8458        S   Third
877         0       3    male  19.0      0      0    7.8958        S   Third
878         0       3    male   NaN      0      0    7.8958        S   Third
879         1       1  female  56.0      0      1   83.1583        C   First
880         1       2  female  25.0      0      1   26.0000        S  Second
881         0       3    male  33.0      0      0    7.8958        S   Third
882         0       3  female  22.0      0      0   10.5167        S   Third
883         0       2    male  28.0      0      0   10.5000        S  Second
884         0       3    male  25.0      0      0    7.0500        S   Third
885         0       3  female  39.0      0      5   29.1250        Q   Third
886         0       2    male  27.0      0      0   13.0000        S  Second
887         1       1  female  19.0      0      0   30.0000        S   First
888         0       3  female   NaN      1      2   23.4500        S   Third
889         1       1    male  26.0      0      0   30.0000        C   First
890         0       3    male  32.0      0      0    7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
5      man        True  NaN   Queenstown    no   True
6      man        True    E  Southampton    no   True
7    child       False  NaN  Southampton    no  False
8    woman       False  NaN  Southampton   yes  False
9    child       False  NaN    Cherbourg   yes  False
10   child       False    G  Southampton   yes  False
11   woman       False    C  Southampton   yes   True
12     man        True  NaN  Southampton    no   True
13     man        True  NaN  Southampton    no  False
14   child       False  NaN  Southampton    no   True
15   woman       False  NaN  Southampton   yes   True
16   child       False  NaN   Queenstown    no  False
17     man        True  NaN  Southampton   yes   True
18   woman       False  NaN  Southampton    no  False
19   woman       False  NaN    Cherbourg   yes   True
20     man        True  NaN  Southampton    no   True
21     man        True    D  Southampton   yes   True
22   child       False  NaN   Queenstown   yes   True
23     man        True    A  Southampton   yes   True
24   child       False  NaN  Southampton    no  False
25   woman       False  NaN  Southampton   yes  False
26     man        True  NaN    Cherbourg    no   True
27     man        True    C  Southampton    no  False
28   woman       False  NaN   Queenstown   yes   True
29     man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
861    man        True  NaN  Southampton    no  False
862  woman       False    D  Southampton   yes   True
863  woman       False  NaN  Southampton    no  False
864    man        True  NaN  Southampton    no   True
865  woman       False  NaN  Southampton   yes   True
866  woman       False  NaN    Cherbourg   yes  False
867    man        True    A  Southampton    no   True
868    man        True  NaN  Southampton    no   True
869  child       False  NaN  Southampton   yes  False
870    man        True  NaN  Southampton    no   True
871  woman       False    D  Southampton   yes  False
872    man        True    B  Southampton    no   True
873    man        True  NaN  Southampton    no   True
874  woman       False  NaN    Cherbourg   yes  False
875  child       False  NaN    Cherbourg   yes   True
876    man        True  NaN  Southampton    no   True
877    man        True  NaN  Southampton    no   True
878    man        True  NaN  Southampton    no   True
879  woman       False    C    Cherbourg   yes  False
880  woman       False  NaN  Southampton   yes  False
881    man        True  NaN  Southampton    no   True
882  woman       False  NaN  Southampton    no   True
883    man        True  NaN  Southampton    no   True
884    man        True  NaN  Southampton    no   True
885  woman       False  NaN   Queenstown    no  False
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [25]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [32]:
# 누락값의 개수를 반환하는 count_missing함수
# 판다스의 isnull메서드에 데이터프레임 전달->누락값의 유무에 따라 True, False를 적용한 데이터프레임이 만듦
# 이 값을 넘파이의 sum메서드에 전달하면 누락값의 갯수를 구할 수 있음
import numpy as np

def count_missing(vec):
    nul_vec = pd.isnull(vec)  # 누락값 있는 곳에 True 나머지는 False
#                  survived  pclass    sex    age  sibsp  parch   fare  embarked  class  \
#             0    False   False  False  False  False  False  False     False  False
    null_count = np.sum(nul_vec)  # 누락값 갯수 더하기
    return null_count

In [33]:
cmis_col = titanic.apply(count_missing)
print(cmis_col)

# survived         0
# pclass           0
# sex              0
# age            177   # 누락값 존재

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [34]:
# 누락값의 비율을 계산하는 prop_missing
def prop_missing(vec):
    num = count_missing(vec)  # 누락값 갯수
    dem = vec.size  # 전체 데이터 수
    return num / dem

In [35]:
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

# survived       0.000000
# pclass         0.000000
# sex            0.000000
# age            0.198653

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [36]:
# 누락값이 아닌 데이터의 비율
def prop_complete(vec):
    return 1 - prop_missing(vec)

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 행 방향

In [37]:
# axis=1 -> 행 방향으로 데이터 처리. -> 열방향에서 만든 것들에 axis=1 추가
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)

print(cmis_row.head())
print(pmis_row.head())
print(pcom_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64
0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64
0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [39]:
titanic['num_missing'] = titanic.apply(count_missing, axis=1)
    # num_missing: 누락값이 n개 있으면 n, 없으면 0
print(titanic)

     survived  pclass     sex   age  sibsp  parch      fare embarked   class  \
0           0       3    male  22.0      1      0    7.2500        S   Third
1           1       1  female  38.0      1      0   71.2833        C   First
2           1       3  female  26.0      0      0    7.9250        S   Third
3           1       1  female  35.0      1      0   53.1000        S   First
4           0       3    male  35.0      0      0    8.0500        S   Third
5           0       3    male   NaN      0      0    8.4583        Q   Third
6           0       1    male  54.0      0      0   51.8625        S   First
7           0       3    male   2.0      3      1   21.0750        S   Third
8           1       3  female  27.0      0      2   11.1333        S   Third
9           1       2  female  14.0      1      0   30.0708        C  Second
10          1       3  female   4.0      1      1   16.7000        S   Third
11          1       1  female  58.0      0      0   26.5500        S   First
12          0       3    male  20.0      0      0    8.0500        S   Third
13          0       3    male  39.0      1      5   31.2750        S   Third
14          0       3  female  14.0      0      0    7.8542        S   Third
15          1       2  female  55.0      0      0   16.0000        S  Second
16          0       3    male   2.0      4      1   29.1250        Q   Third
17          1       2    male   NaN      0      0   13.0000        S  Second
18          0       3  female  31.0      1      0   18.0000        S   Third
19          1       3  female   NaN      0      0    7.2250        C   Third
20          0       2    male  35.0      0      0   26.0000        S  Second
21          1       2    male  34.0      0      0   13.0000        S  Second
22          1       3  female  15.0      0      0    8.0292        Q   Third
23          1       1    male  28.0      0      0   35.5000        S   First
24          0       3  female   8.0      3      1   21.0750        S   Third
25          1       3  female  38.0      1      5   31.3875        S   Third
26          0       3    male   NaN      0      0    7.2250        C   Third
27          0       1    male  19.0      3      2  263.0000        S   First
28          1       3  female   NaN      0      0    7.8792        Q   Third
29          0       3    male   NaN      0      0    7.8958        S   Third
..        ...     ...     ...   ...    ...    ...       ...      ...     ...
861         0       2    male  21.0      1      0   11.5000        S  Second
862         1       1  female  48.0      0      0   25.9292        S   First
863         0       3  female   NaN      8      2   69.5500        S   Third
864         0       2    male  24.0      0      0   13.0000        S  Second
865         1       2  female  42.0      0      0   13.0000        S  Second
866         1       2  female  27.0      1      0   13.8583        C  Second
867         0       1    male  31.0      0      0   50.4958        S   First
868         0       3    male   NaN      0      0    9.5000        S   Third
869         1       3    male   4.0      1      1   11.1333        S   Third
870         0       3    male  26.0      0      0    7.8958        S   Third
871         1       1  female  47.0      1      1   52.5542        S   First
872         0       1    male  33.0      0      0    5.0000        S   First
873         0       3    male  47.0      0      0    9.0000        S   Third
874         1       2  female  28.0      1      0   24.0000        C  Second
875         1       3  female  15.0      0      0    7.2250        C   Third
876         0       3    male  20.0      0      0    9.8458        S   Third
877         0       3    male  19.0      0      0    7.8958        S   Third
878         0       3    male   NaN      0      0    7.8958        S   Third
879         1       1  female  56.0      0      1   83.1583        C   First
880         1       2  female  25.0      0      1   26.0000        S  Second
881         0       3    male  33.0      0      0    7.8958        S   Third
882         0       3  female  22.0      0      0   10.5167        S   Third
883         0       2    male  28.0      0      0   10.5000        S  Second
884         0       3    male  25.0      0      0    7.0500        S   Third
885         0       3  female  39.0      0      5   29.1250        Q   Third
886         0       2    male  27.0      0      0   13.0000        S  Second
887         1       1  female  19.0      0      0   30.0000        S   First
888         0       3  female   NaN      1      2   23.4500        S   Third
889         1       1    male  26.0      0      0   30.0000        C   First
890         0       3    male  32.0      0      0    7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone  num_missing
0      man        True  NaN  Southampton    no  False            1
1    woman       False    C    Cherbourg   yes  False            0
2    woman       False  NaN  Southampton   yes   True            1
3    woman       False    C  Southampton   yes  False            0
4      man        True  NaN  Southampton    no   True            1
5      man        True  NaN   Queenstown    no   True            2
6      man        True    E  Southampton    no   True            0
7    child       False  NaN  Southampton    no  False            1
8    woman       False  NaN  Southampton   yes  False            1
9    child       False  NaN    Cherbourg   yes  False            1
10   child       False    G  Southampton   yes  False            0
11   woman       False    C  Southampton   yes   True            0
12     man        True  NaN  Southampton    no   True            1
13     man        True  NaN  Southampton    no  False            1
14   child       False  NaN  Southampton    no   True            1
15   woman       False  NaN  Southampton   yes   True            1
16   child       False  NaN   Queenstown    no  False            1
17     man        True  NaN  Southampton   yes   True            2
18   woman       False  NaN  Southampton    no  False            1
19   woman       False  NaN    Cherbourg   yes   True            2
20     man        True  NaN  Southampton    no   True            1
21     man        True    D  Southampton   yes   True            0
22   child       False  NaN   Queenstown   yes   True            1
23     man        True    A  Southampton   yes   True            0
24   child       False  NaN  Southampton    no  False            1
25   woman       False  NaN  Southampton   yes  False            1
26     man        True  NaN    Cherbourg    no   True            2
27     man        True    C  Southampton    no  False            0
28   woman       False  NaN   Queenstown   yes   True            2
29     man        True  NaN  Southampton    no   True            2
..     ...         ...  ...          ...   ...    ...          ...
861    man        True  NaN  Southampton    no  False            1
862  woman       False    D  Southampton   yes   True            0
863  woman       False  NaN  Southampton    no  False            2
864    man        True  NaN  Southampton    no   True            1
865  woman       False  NaN  Southampton   yes   True            1
866  woman       False  NaN    Cherbourg   yes  False            1
867    man        True    A  Southampton    no   True            0
868    man        True  NaN  Southampton    no   True            2
869  child       False  NaN  Southampton   yes  False            1
870    man        True  NaN  Southampton    no   True            1
871  woman       False    D  Southampton   yes  False            0
872    man        True    B  Southampton    no   True            0
873    man        True  NaN  Southampton    no   True            1
874  woman       False  NaN    Cherbourg   yes  False            1
875  child       False  NaN    Cherbourg   yes   True            1
876    man        True  NaN  Southampton    no   True            1
877    man        True  NaN  Southampton    no   True            1
878    man        True  NaN  Southampton    no   True            2
879  woman       False    C    Cherbourg   yes  False            0
880  woman       False  NaN  Southampton   yes  False            1
881    man        True  NaN  Southampton    no   True            1
882  woman       False  NaN  Southampton    no   True            1
883    man        True  NaN  Southampton    no   True            1
884    man        True  NaN  Southampton    no   True            1
885  woman       False  NaN   Queenstown    no  False            1
886    man        True  NaN  Southampton    no   True            1
887  woman       False    B  Southampton   yes   True            0
888  woman       False  NaN  Southampton    no  False            2
889    man        True    C    Cherbourg   yes   True            0
890    man        True  NaN   Queenstown    no   True            1

[891 rows x 16 columns]

In [ ]:
# 누락값이 있는 데이터를 데이터프레임에 추가했기 때문에 누락값이 있는 데이터만 따로 모아 볼 수 있다.
# 누락값이 2개 이상인 데이터 추출하기
print(titanic.loc[titanic.num_missing > 1, :].)