## 1. 나만의 데이터 만들기

In [2]:
import pandas as pd

### 1-1. 시리즈 만들기

In [5]:
print('< 시리즈 만들기(1) >')
s1 = pd.Series(['banana', 42])
print(s1)
print('--------------------------------------------------------------')

print('< 시리즈 만들기(2) >')
s2 = pd.Series(['Denny', 'Creator of Pandas'])
print(s2)
print('--------------------------------------------------------------')

print('< 시리즈 만들기(3) : 인덱스 문자열로 지정 >')
s3 = pd.Series(['Denny', 'Creator of Pandas'], index=['Person', 'Who'])
print(s3)
print('--------------------------------------------------------------')

< 시리즈 만들기(1) >
0    banana
1        42
dtype: object
--------------------------------------------------------------
< 시리즈 만들기(2) >
0                Denny
1    Creator of Pandas
dtype: object
--------------------------------------------------------------
< 시리즈 만들기(3) : 인덱스 문자열로 지정 >
Person                Denny
Who       Creator of Pandas
dtype: object
--------------------------------------------------------------

### 1-2. 데이터 프레임 만들기

In [11]:
print('< 데이터프레임 만들기(1) >')   # 딕셔너리
scientists = pd.DataFrame({
    'Name': ['Franklin', 'Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]
})
print(scientists)
print('--------------------------------------------------------------')

print('< 데이터프레임 만들기(2) >')   # 딕셔너리
scientists2 = pd.DataFrame(
    data = {
        'Occupation': ['Chemist', 'Statistician'],
        'Born': ['1920-07-25', '1876-06-13'],
        'Died': ['1958-04-16', '1937-10-16'],
        'Age': [37, 61]},
    index=['Franklin', 'Gosset']
)
print(scientists2)
print('--------------------------------------------------------------')

print('< 데이터프레임 만들기(3): 딕셔너리 -> 데이터의 순서를 보장하지 않음! >')   # 딕셔너리 -> 데이터의 순서를 보장하지 않음!
scientists3 = pd.DataFrame(  ##### data부분에서 Occupation같은거 안적어주면 에러뜸!!#####
    data = {
        'Occupation': ['Chemist', 'Statistician'],
        'Born': ['1920-07-25', '1876-06-13'],
        'Died': ['1958-04-16', '1937-10-16'],
        'Age': [37, 61]},
    index = ['Franklin', 'Gosset'],
    columns = ['Occupation', 'Born', 'Age', 'Died']  # column이 data이름보다 우선!
)
print(scientists3)
print('--------------------------------------------------------------')

from collections import OrderedDict
print('< 데이터프레임 만들기(4): 딕셔너리 순서원함 -> OrderedDict사용 >')   # 딕셔너리 -> 데이터의 순서를 보장하지 않음!
scientists3 = pd.DataFrame(OrderedDict([
    ('Name', ['Franklin', 'Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37, 61])
]))  ##### data부분에서 Occupation같은거 안적어주면 에러뜸!!#####
print(scientists3)
print('--------------------------------------------------------------')

< 데이터프레임 만들기(1) >
       Name    Occupation        Born        Died  Age
0  Franklin       Chemist  1920-07-25  1958-04-16   37
1    Gosset  Statistician  1876-06-13  1937-10-16   61
--------------------------------------------------------------
< 데이터프레임 만들기(2) >
            Occupation        Born        Died  Age
Franklin       Chemist  1920-07-25  1958-04-16   37
Gosset    Statistician  1876-06-13  1937-10-16   61
--------------------------------------------------------------
< 데이터프레임 만들기(3): 딕셔너리 -> 데이터의 순서를 보장하지 않음! >
            Occupation        Born  Age        Died
Franklin       Chemist  1920-07-25   37  1958-04-16
Gosset    Statistician  1876-06-13   61  1937-10-16
--------------------------------------------------------------
< 데이터프레임 만들기(4): 딕셔너리 순서원함 -> OrderedDict사용 >
       Name    Occupation        Born        Died  Age
0  Franklin       Chemist  1920-07-25  1958-04-16   37
1    Gosset  Statistician  1876-06-13  1937-10-16   61
--------------------------------------------------------------

## 2. 시리즈 다루기

### 2-1. 시리즈의 속성과 메서드

In [15]:
# 데이터 프레임 준비
scientists = pd.DataFrame(  ##### data부분에서 Occupation같은거 안적어주면 에러뜸!!#####
    data = {
        'Occupation': ['Chemist', 'Statistician'],
        'Born': ['1920-07-25', '1876-06-13'],
        'Died': ['1958-04-16', '1937-10-16'],
        'Age': [37, 61]},
    index = ['Franklin', 'Gosset'],
    columns = ['Occupation', 'Born', 'Age', 'Died']  # column이 data이름보다 우선!
)
print(scientists)

#             Occupation        Born  Age        Died
# Franklin       Chemist  1920-07-25   37  1958-04-16
# Gosset    Statistician  1876-06-13   61  1937-10-16

            Occupation        Born  Age        Died
Franklin       Chemist  1920-07-25   37  1958-04-16
Gosset    Statistician  1876-06-13   61  1937-10-16

In [21]:
print('< 시리즈인지 확인 >')
first_row = scientists.loc['Gosset']
print(first_row)  # 이때, 시리즈의 자료형은 object -> Age 자료형(int)는 무시됨
    # Occupation    Statistician
    # Born            1876-06-13
    # Age                     61
    # Died            1937-10-16
    # Name: Gosset, dtype: object
        
print(type(first_row))  # Series
print('--------------------------------------------------------------')

print('< index >')
first_row_index = first_row.index
print(first_row_index)  # Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
print('--------------------------------------------------------------')

print('< index 응용: index속성의 첫번째 값 추출 >')
first_row_index_1 = first_row.index[0]
print(first_row_index_1)  # Occupation
print('--------------------------------------------------------------')

print('< values >')
first_row_values = first_row.values
print(first_row_values)  # ['Statistician' '1876-06-13' 61 '1937-10-16']
print('--------------------------------------------------------------')

print('< keys: key메서드 = index속성 >')
first_row_keys = first_row.keys()
print(first_row_keys)  # Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
print('--------------------------------------------------------------')

print('< keys: index의 첫번째 값 >')
first_row_keys_1 = first_row.keys()[0]
print(first_row_keys_1)  # Occupation
print('--------------------------------------------------------------')

< 시리즈인지 확인 >
Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: Gosset, dtype: object
<class 'pandas.core.series.Series'>
--------------------------------------------------------------
< index >
Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
--------------------------------------------------------------
< index 응용: index속성의 첫번째 값 추출 >
Occupation
--------------------------------------------------------------
< values >
['Statistician' '1876-06-13' 61 '1937-10-16']
--------------------------------------------------------------
< keys: key메서드 = index속성 >
Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
--------------------------------------------------------------
< keys: index의 첫번째 값 >
Occupation
--------------------------------------------------------------

In [23]:
ages=scientists['Age']
print(ages)

# Franklin    37
# Gosset      61
# Name: Age, dtype: int64

# 시리즈를 구성하는 데이터가 정수라면 통계 메서드 사용가능(max, min, mean, std..)

Franklin    37
Gosset      61
Name: Age, dtype: int64

### 2-2. 시리즈와 불린 추출

In [24]:
scientists = pd.read_csv('../data/scientists.csv')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [33]:
print('< 평균 나이보다 많은 사람의 나이만 추출(1) >')
ages = scientists['Age']
more_older_than_mean1 = ages[ages > ages.mean()]
print(more_older_than_mean1)
print('--------------------------------------------------------------')

print('< 평균 나이보다 많은 사람의 나이만 추출(2) >')
more_older_than_mean1 = scientists['Age'][scientists['Age'] > scientists['Age'].mean()]
print(more_older_than_mean2)
print('--------------------------------------------------------------')

print('< 평균 나이보다 많은 경우 >')
ages = scientists['Age']
ages_boolean = ages > ages.mean()
print(ages_boolean)
print('--------------------------------------------------------------')

print('< 직접 boolean 설정 >')
boolean_values = [True, True, False, False, True, True, False, True]
ages_boolean_self = ages[boolean_values]
print(ages_boolean_self)
print('--------------------------------------------------------------')

< 평균 나이보다 많은 사람의 나이만 추출(1) >
1    61
2    90
3    66
7    77
Name: Age, dtype: int64
--------------------------------------------------------------
< 평균 나이보다 많은 사람의 나이만 추출(2) >
1    61
2    90
3    66
7    77
Name: Age, dtype: int64
--------------------------------------------------------------
< 평균 나이보다 많은 경우 >
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
--------------------------------------------------------------
< 직접 boolean 설정 >
0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64
--------------------------------------------------------------

### 2-3. 시리즈와 브로드캐스팅

In [ ]:
# 브로드캐스팅: 시리즈나 데이터프레임에 있는 모든 데이터에 대해 한번에 연산하는 것
# 벡터: 시리즈처럼 여러개의 값을 가진 데이터 (ex. 시리즈, age, df)
# 스칼라: 단순 크기를 나타내는 데이터 (ex. 100, 2)

In [40]:
print('< 나이 더하기 >')
ages = scientists['Age']
add_ages = ages + ages
print(add_ages)
print('--------------------------------------------------------------')

print('< 나이 + 50 >')
ages = scientists['Age']
add_50 = ages + 50
print(add_50)
print('--------------------------------------------------------------')

print('< 길이가 서로 다른 벡터 연산 >')  # 같은 인덱스 값만 계산하고, 나머지는 누락값이 됨
ages = scientists['Age']
add_diff_length = ages + pd.Series([1, 100])
print(add_diff_length)
print('--------------------------------------------------------------')

print('< 인덱스 역순으로 데이터 정렬하기 >')
ages = scientists['Age']
rev_ages = ages.sort_index(ascending = False)
print(rev_ages)
print('--------------------------------------------------------------')

print('< 나이 + 인덱스 역순인 나이 더하기: 인덱스별로 더하기때문에 *2한것과 차이가 없음 >')
ages = scientists['Age']
rev_ages = ages.sort_index(ascending = False)
add_rev_ages = ages + rev_ages
print(add_rev_ages)
print('--------------------------------------------------------------')

< 나이 더하기 >
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
--------------------------------------------------------------
< 나이 + 50 >
0     87
1    111
2    140
3    116
4    106
5     95
6     91
7    127
Name: Age, dtype: int64
--------------------------------------------------------------
< 길이가 서로 다른 벡터 연산 >
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64
--------------------------------------------------------------
< 인덱스 역순으로 데이터 정렬하기 >
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
--------------------------------------------------------------
< 나이 + 인덱스 역순인 나이 더하기: 인덱스별로 더하기때문에 *2한것과 차이가 없음 >
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
--------------------------------------------------------------

## 3. 데이터프레임 다루기

In [48]:
print('< Age열에서 Age열의 평균보다 높은 행 >')
older_than_mean_scientists = scientists[scientists['Age'] > scientists['Age'].mean()]
print(older_than_mean_scientists)
print('-----------------------------------------------------------------------------------------------')

print('< boolean값 설정 >')
scientists_by_boolean = scientists.loc[[True, True, False, True, True]]   # 지정하지 않으면 나오지않음
print(scientists_by_boolean)
print('-----------------------------------------------------------------------------------------------')

print('< 문자열 데이터 *2 >')  # 정수 * 2 = 값이 두배, 문자열 * 2 = 문자열길이 2배
scientists_mul = scientists * 2
print(scientists_mul)
print('-----------------------------------------------------------------------------------------------')

< Age열에서 Age열의 평균보다 높은 행 >
                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician
-----------------------------------------------------------------------------------------------
< boolean값 설정 >
                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist
4      Rachel Carson  1907-05-27  1964-04-14   56     Biologist
-----------------------------------------------------------------------------------------------
< 문자열 데이터 *2 >
                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician
-----------------------------------------------------------------------------------------------

## 4. 데이터 처리하기

In [64]:
# 기존 데이터 형태 유지
print('< Born의 자료형 >')
born = scientists['Born']    # object
print(born.dtype)
print('-----------------------------------------------------------------------------------------------')

print('< Died의 자료형 >')
died = scientists['Died']    # object
print(died.dtype)
print('-----------------------------------------------------------------------------------------------')


# 데이터 형태 변경
print('< Born의 자료형: format형태 변경 >')
born = scientists['Born']    # datetime64[ns]
born_datetime = pd.to_datetime(born, format='%Y-%m-%d')
print(born_datetime.dtype)
print('-----------------------------------------------------------------------------------------------')

print('< Died 자료형: format형태 변경 >')
died = scientists['Died']    # datetime64[ns]
died_datetime = pd.to_datetime(died, format='%Y-%m-%d')
print(died_datetime.dtype)
print('-----------------------------------------------------------------------------------------------')

print('< Born, Died의 새로운 자료형 데이터 추가 >')
scientists['born_datetime'], scientists['died_datetime'] = (born_datetime, died_datetime)
print(scientists.head())
print('-----------------------------------------------------------------------------------------------')

# datetime 형태는 int처럼 계산 가능!
print('< Born, Died의 새로운 자료형으로 나이 계산(day) >')
scientists['age_days'] = (scientists['died_datetime'] - scientists['born_datetime'])
print(scientists.head())
print('-----------------------------------------------------------------------------------------------')

# days말고 year기준으로 나이계산방법???????????????????????????????????????????????????????????????????????????????????????????????????????

< Born, Died 나이 계산(year) >
0    1958-04-16
1    1937-10-16
2    1910-08-13
3    1934-07-04
Name: Died, dtype: object
-----------------------------------------------------------------------------------------------

In [66]:
print('< Age열의 데이터를 랜덤으로 섞기 >')
import random

random.seed(1234)
random.shuffle(scientists['Age'])
print(scientists['Age'])
print('-----------------------------------------------------------------------------------------------')

< Age열의 데이터를 랜덤으로 섞기 >

C:\Users\gyyoo\Anaconda3\lib\random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  x[i], x[j] = x[j], x[i]

0    61
1    66
2    90
3    56
4    45
5    41
6    37
7    77
Name: Age, dtype: int64
-----------------------------------------------------------------------------------------------

In [78]:
print('< 기존 데이터 보이기 >')
print(scientists)
print('-----------------------------------------------------------------------------------------------')

print('< 데이터프레임 열 삭제하기 >')
drop = scientists.drop(['Age', 'Occupation', 'Born', 'Died', 'born_datetime', 'died_datetime','age_days'], axis=1)
print(drop)
print('-----------------------------------------------------------------------------------------------')

print('< 시리즈 열 삭제하기 >')
drop2 = drop.drop(['Name'], axis=1)
print(drop2)
print('-----------------------------------------------------------------------------------------------')
# 결과!!
# Empty DataFrame
# Columns: []
# Index: [0, 1, 2, 3, 4, 5, 6, 7]

< 기존 데이터 보이기 >
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   66        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   56             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   45           Biologist
5             John Snow  1813-03-15  1858-06-16   41           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

  born_datetime died_datetime   age_days
0    1920-07-25    1958-04-16 13779 days
1    1876-06-13    1937-10-16 22404 days
2    1820-05-12    1910-08-13 32964 days
3    1867-11-07    1934-07-04 24345 days
4    1907-05-27    1964-04-14 20777 days
5    1813-03-15    1858-06-16 16529 days
6    1912-06-23    1954-06-07 15324 days
7    1777-04-30    1855-02-23 28422 days
-----------------------------------------------------------------------------------------------
< 데이터프레임 열 삭제하기 >
                   Name
0     Rosaline Franklin
1        William Gosset
2  Florence Nightingale
3           Marie Curie
4         Rachel Carson
5             John Snow
6           Alan Turing
7          Johann Gauss
-----------------------------------------------------------------------------------------------
< 시리즈 열 삭제하기 >
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7]
-----------------------------------------------------------------------------------------------