## 1. 데이터 집합 불러오기

In [10]:
import pandas as pd

In [13]:
# 갭마인더 데이터 집합 불러올 때, read_csv + sep=''\t'
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [14]:
print('< df >')
print(df.head())      # 메서드
print('-------------------------------------------------------------')
print('< df_type >')
print(type(df))       # 내장 메서드
print('-------------------------------------------------------------')
print('< df_shape >')
print(df.shape)       # 속성값 (행,열크기)
print('-------------------------------------------------------------')
print('< df_column >')
print(df.columns)     # 속성값 (열 이름)
print('-------------------------------------------------------------')
print('< df_dtypes >')
print(df.dtypes)     # 속성값 (열 마다의 type)
print('-------------------------------------------------------------')
print('< df_info >')
print(df.info())     # 속성값 (type + dtypes)
print('-------------------------------------------------------------')

< df >
       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
-------------------------------------------------------------
< df_type >
<class 'pandas.core.frame.DataFrame'>
-------------------------------------------------------------
< df_shape >
(1704, 6)
-------------------------------------------------------------
< df_column >
Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')
-------------------------------------------------------------
< df_dtypes >
country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object
-------------------------------------------------------------
< df_info >
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None
-------------------------------------------------------------

## 2. 데이터 추출하기

### 2-1. 열단위

In [15]:
# 1개의 열만 추출 = 시리즈
country_df = df['country']

print('country_df_type')
print(type(country_df))
print('-------------------------------------------------------------')
print('country_df_head')
print(country_df.head())
print('-------------------------------------------------------------')
print('country_df_tail')
print(country_df.tail())
print('-------------------------------------------------------------')

country_df_type
<class 'pandas.core.series.Series'>
-------------------------------------------------------------
country_df_head
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object
-------------------------------------------------------------
country_df_tail
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object
-------------------------------------------------------------

In [16]:
# 2개 이상의 열 추출 = 데이터 프레임
# 리스트에 열이름 전달
subset = df[['country', 'continent', 'year']]

print('subset_type')
print(type(subset))
print('-------------------------------------------------------------')
print('subset_head')
print(subset.head())
print('-------------------------------------------------------------')
print('subset_tail')
print(subset.tail())
print('-------------------------------------------------------------')

subset_type
<class 'pandas.core.frame.DataFrame'>
-------------------------------------------------------------
subset_head
       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972
-------------------------------------------------------------
subset_tail
       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007
-------------------------------------------------------------

### 2-2. 행단위

### 2-2-1. loc(인덱스 기준)

In [17]:
# 인덱스는 df.head()했을 때, 맨 앞칸에 나오는 숫자
# 인덱스는 보통 0부터 시작하지만, 행데이터가 추가,삭제되면 언제든지 변할 수 있음(문자열도 사용가능)
# 정수만으로 데이터 조회, 추출할 때만 사용, 실제 데이터프레임에서는 확인 불가

print('< 0번째 행 데이터 추출 >')
print(df.loc[0])
print('--------------------------------------------------------------')
print('< 99번째 행 데이터 추출 >')
print(df.loc[99])
print('--------------------------------------------------------------')

# 인덱스에 없는 값 사용 -> error
print('-1번째 행 데이터 추출')
print(df.loc[-1])
print('--------------------------------------------------------------')

# loc과 tail이 반환하는 자료형은 서로 다름!
# loc : series로 반환 / tail : dataframe으로 반환
print('< 마지막번째 행 데이터 추출 by index >')
number_of_rows = df.shape[0]
last_row_index = number_of_rows - 1
print(df.loc[last_row_index])
print('--------------------------------------------------------------')
print('< 마지막번째 행 데이터 추출 by tail >')
print(df.tail(n=1))
print('--------------------------------------------------------------')
print('< 밑에 두개 행 데이터 추출 >')
print(df.tail(n=2))
print('--------------------------------------------------------------')
print('< 0, 99, 999번째 행 데이터 추출 >')
print(df.loc[[0, 99, 999]])
print('--------------------------------------------------------------')

< 0번째 행 데이터 추출 >
country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object
--------------------------------------------------------------
< 99번째 행 데이터 추출 >
country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object
--------------------------------------------------------------
< 마지막번째 행 데이터 추출 by index >
country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object
--------------------------------------------------------------
< 마지막번째 행 데이터 추출 by tail >
       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298
--------------------------------------------------------------
< 밑에 두개 행 데이터 추출 >
       country continent  year  lifeExp       pop   gdpPercap
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298
--------------------------------------------------------------
< 0, 99, 999번째 행 데이터 추출 >
         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130
--------------------------------------------------------------

### 2-2-2. iloc(행번호 기준)

In [18]:
# 우리가 알고있는 인덱스(리스트 자료형에 저장된 데이터의 순서) = 행번호
print('< 1번째 행 데이터 추출 >')
print(df.loc[1])
print('--------------------------------------------------------------')
print('< 99번째 행 데이터 추출 >')
print(df.loc[99])
print('--------------------------------------------------------------')

# 음수사용 -> error X
print('< -1번째 행 데이터 추출 >')
print(df.iloc[-1])
print('--------------------------------------------------------------')

print('< 0, 99, 999번째 행 데이터 추출 >')
print(df.iloc[[0, 99, 999]])
print('--------------------------------------------------------------')

< 1번째 행 데이터 추출 >
country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object
--------------------------------------------------------------
< 99번째 행 데이터 추출 >
country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object
--------------------------------------------------------------
< -1번째 행 데이터 추출 >
country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object
--------------------------------------------------------------
< 0, 99, 999번째 행 데이터 추출 >
         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130
--------------------------------------------------------------

In [20]:
# loc: 음수(존재하지 않는 인덱스) -> error
# iloc: 음수 -> error X

In [21]:
# 특정 값 추출 원하면
# 방법1. df.loc[[행], [열]]
# 방법2. df.iloc[[행], [열]]

### 2-2-3. 기타

In [23]:
# 슬라이싱 구문 사용
print('< loc사용 슬라이싱 >')
subset_loc = df.loc[:, ['year', 'pop']]  ####### 열 : 문자열 리스트
print(subset_loc.head())
print('--------------------------------------------------------------')

print('< iloc사용 슬라이싱 >')
subset_iloc = df.iloc[:, [2, 4, -1]]     ####### 열 : 정수 리스트
print(subset_iloc.head())
print('--------------------------------------------------------------')

< loc사용 슬라이싱 >
   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460
--------------------------------------------------------------
   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106
--------------------------------------------------------------

In [26]:
# range메서드 사용

print('< iloc사용 range(1) >')
small_range = list(range(5))   # list로 표현하겠다고 나타내야함
subset = df.iloc[:, small_range]
print(subset.head())
print('--------------------------------------------------------------')

print('< iloc사용 range(2) >')
subset = df.iloc[:, list(range(0, 6, 2))]
print(subset.head())
print('--------------------------------------------------------------')

< iloc사용 range(1) >
       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460
--------------------------------------------------------------
< iloc사용 range(2) >
       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460
--------------------------------------------------------------

In [28]:
# 슬라이싱을 range보다 많이 사용(why? 슬라이싱은 제너레이터를 리스트로 변환하지 않아도 됨)

print('< iloc사용 - 슬라이싱>')
subset = df.iloc[:, 0:6:2]
print(subset.head())
print('--------------------------------------------------------------')

print('< iloc사용 - range >')
subset = df.iloc[:, list(range(0, 6, 2))]
print(subset.head())
print('--------------------------------------------------------------')

# iloc 속성 사용 -> 어떤 데이터를 추출한것인지 인지 hard -> loc
print('< iloc 속성 사용 >')
subset = df.iloc[[0, 99, 999], [0, 3, 5]]
print(subset)
print('--------------------------------------------------------------')

# loc 속성 사용
print('< loc 속성 사용(1) >')
subset = df.loc[[0, 99, 999], ['country', 'lifeExp', 'gdpPercap']]
print(subset)
print('--------------------------------------------------------------')
print('< loc 속성 사용(2) >')
subset = df.loc[10:13, ['country', 'lifeExp', 'gdpPercap']]
print(subset)
print('--------------------------------------------------------------')

< iloc사용 - 슬라이싱>
       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460
--------------------------------------------------------------
< iloc사용 - range >
       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460
--------------------------------------------------------------
< iloc 속성 사용 >
         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130
--------------------------------------------------------------
< loc 속성 사용(1) >
         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130
--------------------------------------------------------------
< loc 속성 사용(2) >
        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244
--------------------------------------------------------------

## 기초적인 통계 계산하기

In [35]:
print('< 연도 별로 그룹화해서 평균 구하기 >')
group_by_year_mean = df.groupby('year')['lifeExp'].mean()
print(group_by_year_mean)
print('--------------------------------------------------------------')

print('< 연도 별로 그룹화해서 평균의 타입 >')
group_by_year_mean_type = type(group_by_year)
print(group_by_year_mean_type)   # Series
print('--------------------------------------------------------------')

print('< 연도 별로 그룹화의 타입 >')
group_by_year = df.groupby('year')
group_by_year_type = type(group_by_year)
print(group_by_year_type)   # DataFrameGroupBy
print('--------------------------------------------------------------')

print('< 연도 별로 그룹화 데이터 위치 >')
group_by_year = df.groupby('year')
print(group_by_year)   # 0x00000165489FB780
print('--------------------------------------------------------------')

print('< year로 그룹화된 데이터프레임에서 lifeExp열 추출 >')
group_by_year_by_lifeExp1 = group_by_year['lifeExp']
group_by_year_by_lifeExp2 = group_by_year.lifeExp
print(group_by_year_by_lifeExp1)   # SeriesGroupBy (그룹화된 시리즈)
print(group_by_year_by_lifeExp2)   # SeriesGroupBy (그룹화된 시리즈)
print('--------------------------------------------------------------')

< 연도 별로 그룹화해서 평균 구하기 >
year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64
--------------------------------------------------------------
< 연도 별로 그룹화해서 평균의 타입 >
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
--------------------------------------------------------------
< 연도 별로 그룹화의 타입 >
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
--------------------------------------------------------------
< 연도 별로 그룹화 데이터 위치 >
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000165460AFF28>
--------------------------------------------------------------
< year로 그룹화된 데이터프레임에서 lifeExp열 추출 >
<pandas.core.groupby.generic.SeriesGroupBy object at 0x00000165460AFF60>
--------------------------------------------------------------
< year로 그룹화된 데이터프레임에서 lifeExp열 추출 >
<pandas.core.groupby.generic.SeriesGroupBy object at 0x00000165489FBA58>
--------------------------------------------------------------